.mainProductsList{
    display: flex;
    align-items: center;
    gap: 20px;

    overflow-x: scroll;

    list-style: none;

    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 1020px){
    .mainProductsList{
        width: 60%;

        flex-wrap: wrap;

        margin-left: 115px;
        padding: 0;

        overflow-x: hidden;
    }
}