@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.productCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productCardIMG img{
    width: 70px;
    height: 70px;
}

.productCardInfos p{
    min-width: 105px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #333333;

    margin-top: 0;
}

.productCardInfos span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;


    color: #828282;
}

.removeCartProductBtn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    background-color: unset;
    color: #BDBDBD;

    border: none;

    cursor: pointer;
}

.removeCartProductBtn:hover{
    color: #828282;
}

@media screen and (min-width: 1020px){
    .productCart{
        justify-content: flex-start;
    }

    .productCardIMG{
        margin-right: 10px;
    }

    .productCardInfos p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        max-width: 165px;
    }

    .removeCartProductBtn{
        position: absolute;
        right: 14%;
    }
}